body {
    background: lab(81.08% -9.56 54.83);
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.container {
    width: 90vw;
    height: 90vh;
    display: grid;
    grid-template-columns: repeat(3,1fr);  
    gap: 10px;
    padding: 10px;
    
}

.box {
    display: grid;
    justify-content: center;
    align-items: center; 
    font-size: 24px;
}
.b1 {
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: rgb(23, 97, 165);
}

.b5 {
    grid-column: 1;
    grid-row-start: 3 ;
    grid-row-end: 4;
    background-color: #c09815;
}

.b8 {
    grid-column: 1;
     grid-row-start: 4 ;
    grid-row-end: 6;
    background-color:#270ba1;
}

.b2 {
    grid-column: 2;
     grid-row-start: 1 ;
    grid-row-end: 2;
   background-color: hwb(41 17% 15%);
}

.b7 {
    grid-column: 2;
    grid-row-start: 2 ;
    grid-row-end: 3;
    background-color: #c41658;
}

.b3 {
    grid-column: 3;
     grid-row-start: 1 ;
    grid-row-end: 2;
    background-color: lightseagreen;
}

.b4 {
    grid-column: 3;
     grid-row-start: 2 ;
    grid-row-end: 4;
     background-color: lightskyblue;
}

.b6 {
    grid-column-start: 2;
     grid-column-end: 4;
     grid-row-start: 4 ;
    grid-row-end: 6;

    background-color: rgb(224, 24, 148);
    
}
.b9{
    grid-column: 2;
     grid-row-start: 3;
    grid-row-end: 4;
    background-color: #1883ee;
}