* {
      box-sizing: border-box;
      font-family: "Poppins", sans-serif;
      margin: 0;
      padding: 0;
    }
body {
      background-color: #fff7f2;
      color: #3a3a3a;
      display: flex;
      justify-content: center;
      padding: 40px;
    }
.container {
      display: flex;
      max-width: 1200px;
      width: 100%;
      gap: 30px;
    }
.menu {
      flex: 3;
    }
.menu h1 {
      font-size: 2rem;
      margin-bottom: 20px;
    }
.desserts {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
      gap: 25px;
    }
.card {
      background-color: #fff7f2;
      border-radius: 1rem;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
      text-align: left;
      }
.card img {
      width: 100%;
      height: 150px;
      object-fit: cover;
       border-radius: 1rem;
    }
.card h3 {
      font-size: 1rem;
      margin: 10px 0 5px;
    }
.price {
      font-weight: bold;
      margin: 5px 0;
      color:#d3572a
      }
.button{
      background-color: white;
      color: black;
      padding: 8px 18px;
      border-radius: 1rem;
      margin-bottom: 15px;
      justify-content: center;
      align-self: center;
      text-align: center;
      margin-left: 5rem;
      margin-top: -8rem;
      }
.cart {
      flex: 1;
      background-color: #fff;
      border-radius: 20px;
      padding: 20px;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
      text-align: center;
      height: fit-content;
    }
.cart h2 {
      margin-bottom: 10px;
    }
.cart img {
      width: 120px;
      margin-top: 20px;
      opacity: 0.8;
    }
.cart p {
      color: #777;
      font-size: 0.9rem;
    }
.name{
      color:#777;
      font-weight: lighter;
    }