div{
    background-color: rgb(1, 71, 61);
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: repeat(1,1fr);
}


img{
    height: 100%;
    width: 100%;
}

@media screen and (min-width:768px)  {
    div{
        grid-template-columns: repeat(2,1fr);
    }
}

@media screen and (min-width:992px)  {
div{
        grid-template-columns: repeat(3,1fr);
    }
}

@media screen and  (min-width:1024px) {
div{
        grid-template-columns: repeat(3,1fr);
    }
}