*{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    flex-direction: row;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-items: center;
    background-color: hwb(240 0% 95%);
    color: white;
    padding: 1rem 2rem ;
    font-size: x-large;
    justify-content: space-between;
}
header div a{
    color: white;
    padding-right: 3rem;
    text-decoration: none;
    justify-content: space-around;

}

.main-section{
    background-image: url("https://plus.unsplash.com/premium_photo-1669828434908-c71eb9dad5e8?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwxMjJ8fHxlbnwwfHx8fHw%3D");
    height: 70vh;
    background-size: cover;
    background-position: center;
}
main{
    
    text-align: center;
    color: white;
   
}
.overlay{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 70vh;
    font-size: xx-large;
    background: rgba(0,0,0,0.5);    /*to overlay*/ 
}
button{
    color: white;
    background-color: #22807b;
    padding: 1rem;
    font-size: large;
    border-radius: 1.4rem;
    margin: 2rem;
}
.main{
    display: grid;
    grid-template-columns: 300px 1fr;
    color: black;
}
.category-section{
    padding: 1rem 2rem;
    background-color: #a7691d;
    
}
.category-section h3{
    font-size: 1.5rem;
    font-weight: bold;
}
.category-section ul li{
    list-style: none;
    padding: 1rem 0;
}
.card{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem
}
.card div{
    width: 300px;
    height: 100px;
    
    font-size: larger;
    background-color: #f6ff7f;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    text-align: center;
    
}
.card div p{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0.5rem;
}
.card div h4{
    padding-top: 1rem;
    font-weight: bold;
}
@media screen and (max-width:768px) {
    header div a{
        display: none;
    }
    .main{
        grid-template-columns: repeat(1,1fr);
    }
}
