div{
    border: 2px solid black;
    width: 30vw;
    margin-left: 500px;
    box-shadow: 2px 2px 2px 4px grey;
    padding: 30px;
}
span{
    color: rgb(4, 56, 126);
    background-color: aquamarine;
}
button{
    margin-left: 270px;
    color: azure;
    background-color: rgb(77, 142, 185);
    padding: 15px;
    border-radius: 5px;
    font-size: large;
}
h3{
    font-size:x-large;
}
p{
    color: rgb(228, 228, 0);
}