.bcd{
    border: 2px solid black;
    box-shadow: 2px 2px 2px 4px gray;
    width: 25vw;
    padding: 30px;
    padding-bottom:100px;
    margin-left: 500px;
}
span{
    color: grey;
}
button{
    margin-left: 170px;
    color: rgb(128, 128, 128);
    border-radius: 5px;
}
b{
    text-align: center;
    margin: 20px;
}
.abc{
    padding-bottom: 90px;
}