header{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    background-color: gray;
    
    align-items: center;
}
header p{
    justify-self: center;
    font-size: 1.7rem;
    font-weight: bold;
}
main{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 20px auto;
    max-width: 1200px;
    gap: 1rem;
}
.text{
    border: 2px solid red;
    text-align: center;
}

.image{
border: 10px solid pink;
 grid-row: span 2;   
 /* matlab img wala text wale ke 2 times ho jaega  */
}
img{
    width: 100%;
    height: 100%;
}
