header{
    border-bottom: 2px solid black;
    text-align: center;
}
main{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    height: 100vh;
}
.first{
    border-right: 2px solid black;
    font-size: larger;
    list-style: none;
}
.first li{
    padding-bottom: 3rem;
    font-weight: bold;
}
.last{
    border-left: 2px solid black;
    font-size: larger;
}
img{
    width: 100%;
    border-radius: 5px;
}
.mid{
padding: 0.5rem;
font-size: larger;

}
footer{
    border-top: 2px solid black;
    padding: 2rem;
    text-align: center;
    font-size: 1.5rem;
}
