*{
    margin: 0;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: oklab(73.441% -0.17186 0.09375);
    color: white;
    padding: 1rem 2rem;
    font-size: x-large;
}
nav a{
    color: white;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 2rem;
}
main{
    background-color: #a7caa7;
     display: flex;
    justify-content: space-around;
    height: calc(100vh - 100px);
    align-items: center;
   
}
.left{
    font-size: x-large;
    margin: 5rem;
}
.right{
    margin: 5rem;
}
.left button{
    color: aliceblue;
    background-color: hwb(120 30% 17%);
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 0.5rem;
     padding-top: 0.5rem;
     border: none;
     border-radius: 0.5rem;
     margin-top: 3rem;
}
.left p{
    margin-top: 3rem;
}
.card-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    background-color: lightgreen;
    gap: 10rem;
    
}
.card-container div{
    width: 400px;
    height: 170px;
    border: none;
    font-size: larger;
    background-color: aliceblue;
    text-align: center;
    flex-direction: column;

}
.card-container div h1{
    color: green;
    padding-bottom: 1rem;
}
div{
    background-color: #a7caa7;
     display: flex;
    justify-content: space-around;
    height: calc(100vh - 100px);
    align-items: center;
}
div section{
    color: green;
    font-size: larger;
}
.simran{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    background-color: lightgreen;
    gap: 10rem;
    flex-direction: row;
}
.simran div{
    width: 400px;
    height: 500px;
    border: 2px solid black;
    font-size: larger;
    background-color: azure;
    text-align: center;
    flex-direction: column;

}
.simran div h2{
    color: green;
}
.simran div h5{
    color: blueviolet;
}
.simran div span i{
    color: green;
    
    
}

