*{
    margin: 0;
}


header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: plum;
    color: white;
    padding: 1rem 2rem;
    padding-left: 12rem;
}
nav a{
    text-decoration: none;
    padding: 20px;
    color: black;
    font-size: 1.1rem;
}
nav button{
    background-color: rgb(75, 0, 124);
    color: white;
    padding: 0.7rem;
    border-radius: 0.5rem;
}
main{
    display: flex;
    justify-content: space-around;
    height: calc(100vh - 100px);
    align-items: center;
   
}
p{
    flex-wrap: wrap;
    width: 25vw;
    color: purple;
    margin-top: 2rem;
    font-size: large;
}
h1{
    color: purple;
    letter-spacing: 8px;
    font-weight: lighter;
}
main button{
    color: white;
    background-color: purple;
    border-radius: 0.5rem;
    margin-top: 2rem;
    padding: 0.7rem;
    border: 0;
}
h2{
    margin-top: 1rem;
    
}
