* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  background-color: #f8f9fc;
  display: flex;
  height: 100vh;
}

.sidebar {
  background-color: #ffffff;
  width: 280px;
  border-right: 1px solid #e5e7eb;
  padding: 20px;
  box-shadow: 2px 0 6px rgba(0, 0, 0, 0.05);
  height: 100vh;
}

.profile {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.profile img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.profile .info h4 {
  font-size: 16px;
  font-weight: 600;
  color: #111827;
}

.profile .info p {
  font-size: 13px;
  color: #6b7280;
}

.search input {
  width: 100%;
  padding: 8px 10px;
  border: 1px solid #e5e7eb;
  border-radius: 6px;
  font-size: 14px;
  margin-bottom: 20px;
  
}

.menu-title {
  font-size: 13px;
  font-weight: 600;
  color: #9ca3af;
  margin: 10px 0;
}

ul {
  list-style: none;
}

ul li {
  display: flex;
  align-items: center;
  padding: 8px 0;
  color: #374151;
  font-size: 14px;
  cursor: pointer;
  transition: 0.2s ease;
}

ul li i {
  margin-right: 10px;
  color: #6b7280;
  width: 18px;
  text-align: center;
}

ul li:hover {
  color: #2563eb;
}

ul li:hover i {
  color: #2563eb;
}